<div
  class="toolbar h-16 bg-slate-900 tex py-2 text-white flex px-4 items-center"
>
  <span>Balloon-Pop</span>
</div>
<main role="main">
  <div class="game-container">
    @if(!gameOver()){
    <div class="flex gap-4">
      @for(balloon of balloons; track balloon.id ){
      <app-balloon
        (missingballoonPopped)="balloonMisshandler($event)"
        (balloonPopped)="balloonpopHnadler($event)"
        [balloon]="balloon"
      ></app-balloon>

      }
    </div>

    <div class="text-2xl font-bold flex gap-4">
      <span> Score: {{ score }} </span>
      @if(missed()){
      <span> Missed: {{ missed() }} </span>
      }
    </div>
    }@else {
    <section class="flex flex-col gap-10">
      <div class="text-3xl text-center">Game Over</div>
      <div class="text-2xl font-bold text-center">Score: {{ score }}</div>

      <button
        (click)="startGame()"
        class="rounded-md px-2 py-1.5 bg-black text-white cursor-pointer"
      >
        Restart
      </button>
    </section>

    }
  </div>
</main>
